body {
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	background-color: #0353a4;
	}
#page {
	overflow: auto;
	width: 960px;
	margin: 10px auto;
	border: 4px double #000;
	background-color: #058c42;}
.main {
	width: 600px;	
	background-color: #ffffff;
	border: 4px double #000;
	margin: 10px auto}
header {
	margin: 0px auto;
	width: 80%}
h1, h2, h3, p {
	text-align: center;
	color: #000000;}
p {
	padding: 10px;}
nav {
	margin: 20px 0px;}
nav ul {
	width: 700px;
	padding: 15px;
	margin: 0px auto;
	border-top: 2px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;}
nav li {
	display: inline;
	margin: 0px 5px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 6px 18px 5px 18px;}
section header {
	border-bottom: 1px solid #000;}
/*
._2column1, ._2column2 {
	width: 452px;
	height: 200px;
	overflow: hidden;
	float: left;
	margin: 10px;	
	background-color: #ffffff;
	border: 4px double #000;}
._3column1, ._3column2, ._3column3 {
	width: 292px;
	height: 200px;
	overflow: hidden;
	float: left;
	margin: 10px;	
	background-color: #ffffff;
	border: 4px double #000;}
*/
#content {
	width: 960px;
	display: flex;}
.column {
	margin: 10px;	
	background-color: #ffffff;
	border: 4px double #000;
	flex: 1;}
a {
	color: #000000;
	text-decoration: none;
	}
a:hover {
	color: #A91622;}


